<!-- Validation failure messages -->
<% if @need.errors.any? %>
  <% @need.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Need</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_need" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for need_type -->
      <div class="form-group">
        <label for="need_type" class="control-label">
          Need type
        </label>

        <input type="text" id="need_type" name="need_type" placeholder="Need type" class="form-control" value="<%= @need.need_type %>">
      </div>

      <button class="btn btn-success">
        Create Need
      </button>
      or
      <a href="/needs">Cancel</a>
    </form>
  </div>
</div>
